@media (min-width: 768px){
    nav{
        display: block;
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 10px;
    }
    nav div{
       padding: 30px;

    }
    .sec1{
        width: 1440px;
        height: 835px;
        position: center;
        background-color: var(--orange-bg);
    }
    .sec1 .head{
        width: 1440px;
        height: 100px;
    }
    .sec1 .head .cont{
        padding: 30px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 39.06px;
        line-height: 123.6%;
/* or 48px */

        text-align: center;
       
    }

    .sec1 .head .img1{
        padding-top: 30px;
    }
    .sec1 .head .img2{
        display: none;
    }
    .poster{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        justify-content: space-around;
        align-content: center;
    }
    .sec1 .poster .divi h3{
        width: 440px;
        height: 177px;
        padding-left: 135px;
        padding-top: 86px;
        padding-right: 88px;

/* H1-48px */

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 123.6%;
/* or 59px */

        text-transform: capitalize;
    }
    .divi h6{
        width: 493px;
        height: 65px;
        padding-left: 135px;
        padding-top: 11px;
        padding-right: 35px;

/* H6-16px (paragraph) */

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.6%
}
.divi button{
    margin-left: 135px;
    margin-right: 378px;
    margin-top: 50px;
    margin-bottom: 24%;

/* H5-20px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
}

.d .img3{
    width: 639px;
    height: 429px;
    padding-top: 93px;
}
.sec2{
    width: 1440px;
}
.sec2 .diiv1{
    display: flex;
    margin: 0;
}
.sec2 .diiv1 img{
    width: 657px;
    height: 348px;
    padding: 207px 0 60px 63px;
}
.sec2 .diiv1 .firsth6{
    width: 72px;
    height: 24px;
    padding-left: 0;
    padding-top: 120px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
}
.sec2 .diiv1 h4{
    width: 494px;
    height: 96px;
    padding-top: 25px;
    padding-left: 0;

/* H2-39.06px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
}
.sec2 .diiv1 .sech6{
    width: 569px;
    height: 197px;
    padding-left: 0;
    padding-top: 18px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* or 24px */
}
.sec2 .diiv1 .bittu{
    padding: 0;
    box-shadow: 0px 1px 10px;
}
.sec2 .diiv2{
   width: 1440px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex: 1;
    

}
.sec2 .diiv2 .diiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 270px;
    height: 200px;
    padding-right: 70px;
}
.sec3{
    display: flex;
    width: 1440px;
    height: 673px;
    margin: 30px;
}
.sec3 .c31 .heading{
    padding: 83px 480px,25px 135px;
    width: 120px;
    height: 24px;
}
.sec3 .c31 .mainhead .h4{
    width: 487px;
    height: 96px;
    padding-left: 135px;
 

/* H2-39.06px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
/* or 48px */
}
.sec3 .c31 .mainhead{
    padding: 0;
}
.sec3 .c31 .parafirst{
    width: 569px;
    height: 197px;
    padding-left: 136px;
    padding-top: 18px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%; 
}
.sec3 .c31 .h5{
    margin: 63px 471px 0 155px;
}
.sec3 .c2{
    display: flex;
    padding: 60px 0 0 0;
    margin: 0;

}
.sec3 .c3{
    display: flex;
    margin: -70px;
   
}
.sec3 .c31{
    width: 620px;
}
.sec3 .c32 .box1{
    width: 270px;
    height: 200px;
    box-shadow: 0px 1px 10px;
}
.sec3 .c32 .box2{
    margin-top: 83px;
}
.sec4{
    max-width: 1440px;
    margin: 0 0 0 -50px;
    text-align: center;
}
.sec4 .diiiv .h6{
    width: 111px;
    height: 24px;
    padding-left: 410px;


/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* identical to box height, or 24px */


/* Gray ( Paragraph ) */

    color: #7B7B7B;
}
.sec4 .diiiv .h4{
    width: 446px;
    height: 96px;
    padding-left: 250px;
    padding-top: 25px;

/* H2-39.06px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
/* or 48px */

    text-align: center;
}
.sec4 .b{
    margin-left: 60px;
    display: flex;
}
.sec4 .mainn{
    width: 270px;
    height: 350px;
    left: 0px;
    margin: 30px;

/* White */

    background: #FFFFFF;
/* Effect-1 */

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}
.sec4 .b .mainn .divv{
    width: 270px;
    height: 250px;
}



.sec5{
    width: 1440px;
    
}
.sec5 .main_head .h6{
    padding-left: 683px;
    width: 74px;
    height: 24px;
    

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* identical to box height, or 24px */

    text-align: center;

/* Gray ( Paragraph ) */

    color: #7B7B7B;
}
.sec5 .main_head .h2{
    width: 649px;
    height: 96px;
    padding-left: 395px;
    padding-top: 25px;
    margin-bottom: 25px;

/* H2-39.06px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
/* or 48px */

    text-align: center;

/* Black */

    color: #373737;
}
.sec5 .image3{
    width: 370px;
    height: 370px;
    left: 0px;
    padding-top: 60px;

    
    
    
}
.sec5 .image2{
    width: 370px;
    height: 470px;
    left: 400px;
    top: 255px;
   


}
.sec5 .image{
    margin-left: 100px;
}
.sec5 .main_body .image1{
    padding: 100px 750px 0 0 ;
    margin-right: 300px;

}
.sec5 .main_body .h3{
    width: 437px;
    height: 31px;
    padding-right: 450px;
    padding-top: 80px;

/* H4-25px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
/* identical to box height, or 31px */
}
.sec5 .main_body .h6{
    width: 101px;
    height: 24px;
    padding-right: 750px;
    padding-top: 90px;
    

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* identical to box height, or 24px */
}
.sec6{

width: 1440px;
height: 640px;
}.sec6 .alpha .h6{
    width: 135px;
    height: 24px;
    padding-left: 652px;
    padding-top: 60px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* identical to box height, or 24px */

    text-align: center;

/* Gray ( Paragraph ) */

    color: #7B7B7B;
}
.sec6 .alpha .h2{
    width: 460px;
    height: 96px;
    padding-left: 490px;
    padding-top: 25px;
  
  

/* H2-39.06px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.6px;
    line-height: 123.6%;
/* or 48px */

    text-align: center;
   

/* Black */

    color: #373737;
}

.sec6 .beta{
    position: absolute;
    width: 470px;
    height: 250px;
    margin-left: 175px;
    margin-top: 60px;

/* Orange */

    background: #FF5300;
/* Effect-1 */

box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.sec6 .beta .h4{
    width: 200px;
    height: 31px;
    padding-left: 65px;
    padding-top: 34px;
    padding-bottom: 7px;

/* H4-25px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
/* identical to box height, or 31px */

    text-align: center;

/* White */

    color: #FFFFFF;
}
.sec6 .beta .h62{
    width: 370px;
    height: 106px;
    padding-top: 23px;  
    padding-left: 66px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* or 24px */


/* White */

    color: #FFFFFF;

}
.sec6 .beta .h6{
    width: 95px;
    height: 24px;
    padding-left: 66px;
    padding-top: 7px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* identical to box height, or 24px */

    text-align: center;

/* White */

    color: #FFFFFF;

}
.sec6 .img1{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 135px;
    padding-top: 65px;

}

.sec6 .beta2{
    position: absolute;
    width: 470px;
    height: 250px;
    margin-left: 835px;
    margin-top: 60px;

/* Orange */

    background: #FF5300;
/* Effect-1 */

box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.sec6 .beta2 .h4{
    width: 200px;
    height: 31px;
    padding-left: 65px;
    padding-top: 34px;
    padding-bottom: 7px;

/* H4-25px */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
/* identical to box height, or 31px */

    text-align: center;

/* White */

    color: #FFFFFF;
}
.sec6 .beta2 .h62{
    width: 370px;
    height: 106px;
    padding-top: 23px;  
    padding-left: 66px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* or 24px */


/* White */

    color: #FFFFFF;

}
.sec6 .beta2 .h6{
    width: 95px;
    height: 24px;
    padding-left: 66px;
    padding-top: 7px;

/* H6-16px (paragraph) */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
/* identical to box height, or 24px */

    text-align: center;

/* White */

    color: #FFFFFF;

}
.sec6 .img2{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 810px;
    margin-top: 100px;
    padding-left: 0;

}
.sec6 .gamma{
    margin-left: 700px;
    margin-top: 365px;
}


.sec7{
    width: 1440px;
    height: 750px;
}
.sec7 .first .h6{
    width: 67px;
height: 24px;
padding-left: 686px;
padding-top: 120px;

/* H6-16px (paragraph) */

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150.6%;
/* identical to box height, or 24px */

text-align: center;

/* Gray ( Paragraph ) */

color: #7B7B7B;

}
.sec7 .first .h4{
    width: 542px;
height: 96px;
padding-left: 448px;
padding-top: 150px;

/* H2-39.06px */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 39.06px;
line-height: 123.6%;
/* or 48px */

text-align: center;

/* Black */

color: #373737;
}
.sec7 .second{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 0;
}
.sec7 .gamma{
    margin-left: 680px;
}



.sec8{
    width: 1440px;
}
.sec8 .first .h6{
    width: 87px;
height: 24px;
padding-left: 680px;
padding-top: 0px;

/* H6-16px (paragraph) */

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150.6%;
/* identical to box height, or 24px */


}
.sec8 .first .h4{
    width: 367px;
height: 96px;
padding-left: 540px;
padding-top: 25px;

/* H2-39.06px */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 39.06px;
line-height: 123.6%;
/* or 48px */

text-align: center;

/* Black */

color: #373737;

}
.sec8 .second{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 20px;
}


.sec9{
    width: 1440;
    height: 590px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.sec9 .first{
    width: 600px;
    
}
.sec9 .first img{
    position: absolute;
    width: 632px;
height: 333px;
margin-top: 123px;
padding-top: 0px;
padding-left: 0px;
margin-right: 100px;
margin-left: 42px;
}
.sec9 .second .form{
    width: 840px;
    padding-top: 120px;
}
.sec9 .second .h4{
position: absolute;
width: 388px;
padding-left: 0;
height: 39px;
margin-top: 60px;

/* H3-31.25px */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 31.25px;
line-height: 123.6%;
/* identical to box height, or 39px */


/* Black */

color: #373737;
}
.sec9 .second .form .big{
    width: 700px;
}



.sec10 img{
    width: 1170px;
height: 450px;
padding-top: 50px;
}

.sec10 .first{
    margin-left: 135px;
    margin-top: 122px;
}
.sec10 .first .f1{
    width: 213px; 
    height: 167px; 
    padding-right: 15px;
}
.sec10 .first .f2{
    width: 223px; 
    height: 162px; 
    padding-right: 15px;
}
.sec10 .first .f3{
    width: 159.76px; 
    height: 168.99px; 
    padding-right: 15px;
}
.sec10 .first .f4{
    width: 213.67px; 
    height: 169.7px; 
}
 

.sec11{
    width: 1440px;
    height: 350px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-left: 20px;
}
.sec11 .first{
    margin-left: -100px;
}

.sec11 .second{
    margin-left: -300px;
}
.sec11 .third{
    margin-left: -450px;
}
.sec11 .fourth{
    margin-left: -450px;
}
.fifth{
    width: 1440px;
    height: 60px;
    margin-left: 20px;
    
}
.fifth img{
    margin-left: 137px;
    margin-top: 20px;
}
.fifth .h6{
    width: 373px;
height: 24px;
margin-left: 177px;
margin-top: -30px;

/* H6-16px (paragraph) */

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150.6%;
/* identical to box height, or 24px */


/* White */

color: #FFFFFF;
}
.fifth .img2{
    margin-left: 1263.33px;
    margin-top: -20px;
}


}
